@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@keyframes loadInAnimation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 100;
	}
}
:root {
  --text-color: #fff;
  --text-color2: #000;
  --bg: #ff9ee1;
  --margin: 4rem;
  --otherbg: #ff75d5;
  --inputbg: #d679f2;
	--inputborder: #ca6ce6;
}
* {
  align-content: center;
  border: none;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  color: var(--text-color);
  font-family: "Open Sans", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  background: var(--bg);
  color: var(--text-color);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
footer {
  background: var(--otherbg);
  display: flex;
  border-bottom: none;
  width: 100%;
  padding: 0.7rem;
  z-index: 1;
  text-align: center;
  text-decoration: none;
  justify-content: center;
  font-weight: 700;
}
header {
  background: var(--otherbg);
  display: flex;
  border-bottom: none;
  width: 100%;
  z-index: 1;
  text-align: center;
  text-decoration: none;
  justify-content: center;
  font-weight: 700;
}
header {
  top: 0;
  position: fixed;
  border-radius: 0 0 20px 20px;
  box-shadow: 0 5px 10px var(--otherbg);
}
header form {
  color: var(--text-color2);
  margin-top: 0.99rem;
}

footer {
  bottom: 0;
  border-radius: 20px 20px 0 0;
  box-shadow: 0 -5px 10px var(--uibg);
}
footer.noscroll {
  position: fixed;
  overflow: hidden;
}
footer a,
footer a:visited,
header a,
header a:visited {
  margin-right: 1.25rem;
  margin-left: 1.25rem;
  text-decoration: none;
}

footer a:hover,
header a:hover {
  text-shadow: 2px 2px 6px var(--textcolor);
}
main {
  animation: 1.25s ease-in-out 0s 1 loadInAnimation;
	align-items: center;
	flex-direction: column;
	display: flex;
	gap: 0;
	flex-wrap: wrap;
	margin: auto;
	margin-top: var(--margin);
	width: 90%;
	height:auto;
  text-align: center;
}
h1,
h2,
h3,
p,
a,
label {
  margin: 0;
  padding: 0;
  text-shadow: var(--otherbg);
}
h1 {
  font-size: 60px;
}

h2 {
  font-size: 42px;
}
h3 {
  font-size: 20px;
}
p,
a {
  font-size: 16px;
}
.samerow {
  display: flex;
  justify-content: center;
  gap: 0;
  flex-wrap: wrap;
  align-items: center;
}
input[type="text"] {
	box-sizing: border-box;
	text-align: center;
	outline: none;
	transition: opacity 0.25s ease-in-out;
	opacity: 100%;
  color: black;
  border-radius: 3px;
  font-size: 14px;
}
input[type="text"]:hover {
	opacity: 80%;
}
.game {
  animation: 0.9s ease-in-out 0s 1 loadInAnimation;
  background-color: transparent;
  border-radius: 10px;
  display: inline-block;
  height: 200px;
  width: 180px;
  margin: 10px;
  padding: 10px;
}
.game:hover {
  opacity: 80%;
}
.game a {
  font-size: 60%; 
}
.games {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
}
#searchResults {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
}
.game img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
  min-width: 100%;
  object-fit: cover;
  height: 150px;
}
#uv-address,
option,
select {
  color: black;
}
@media only screen and (max-width: 768px) {
  * {
    --margin: 12rem;
  }
  header,
  footer {
    align-items: center;
    flex-direction: column;
  }
  header {
    border-radius: 0;
  }
  footer {
    border-radius: 0;
  }
}